.stanza {margin-bottom: 1em; }

.verse {
    display: flex;
    align-items: baseline;
}

.syllable {
    display: flex;
    align-items: baseline;
    display: contents;
}

.syllpart {
    display: contents;
}


