.id {color: gray; }

.meter {display: none;}

.rhyme {display: none;}

.meterinfo {display: none;}
.stressinfo {display: none;}
.otherinfo {display: none;}
#metreinfo {display: none;}
#genimg {display: none;}

span.syllable {
    display: contents;
}

span.syllpart {
    display: contents;
}

span.after {
    display: contents;
}

tr.stanzabreak {
    height: 1em;
}

.motivescaption, .motives {
    display: none;
}

