.id {color: gray; }

.rhyme {font-weight: bold; padding: 0 1ex 0 1ex;}

table.stanza {
    margin-bottom: 1em;
}


tr.verse {
   height: 50px; 
}

td.versetext {
    padding-top: 10px;
}

span.syllable {
    display: contents;
}

span.syllpart {
    display: block;
    padding-top: 3px;
    padding-bottom: 5px;
}

span.ort_vowels {
    min-width: 1ex;
    text-align: center;
}

span.positionS {
    border-top: 3px solid gray;
}

span.positionW {
    border-top: 1px solid gray;
    border-top-left-radius: 1ex;
    border-top-right-radius: 1ex;
}

span.stress1 {
    border-bottom: 3px solid black;
}

span.stress0 {
    border-bottom: 1px solid black;
    border-bottom-left-radius: 1ex;
    border-bottom-right-radius: 1ex;
}

span.rhyming {
    font-weight: bold;
}


.meterinfo, .stressinfo {
    padding-left: 1ex;
    color: #aaa;
    background-color: white;
    font-family: monospace;
    font-size: x-small;
}

.stressinfo {
    width: 1px;
}

.verseNone {background-color: #fff}

.verse0 {background-color: #fcc}
.verse1 {background-color: #cfc}
.verse2 {background-color: #ccf}
.verse3 {background-color: #ffc}
.verse4 {background-color: #fcf}
.verse5 {background-color: #cff}
.verse6 {background-color: #faa}
.verse7 {background-color: #afa}
.verse8 {background-color: #aaf}
.verse9 {background-color: #ffa}
.verse10 {background-color: #faf}
.verse11 {background-color: #aff}

