.id {color: gray; }

.meter {display: none;}

.rhyme {display: none;}

.meterinfo {display: none;}
.stressinfo {display: none;}

span.syllable {
    display: contents;
}

span.syllpart {
    display: contents;
}

