.id {color: gray; }

.rhyme {font-weight: bold; padding: 0 1ex 0 1ex;}

tr.verse {
   height: 2.5em; 
}

td.versetext {
    padding-top: 1ex;
}

span.syllable {
    display: contents;
}

span.syllpart {
    display: block;
}

span.positionS {
    border-top: 3px solid gray;
}

span.positionW {
    border-top: 1px solid gray;
}

span.stress1 {
    border-bottom: 3px solid black;
}

span.stress0 {
    border-bottom: 1px solid black;
}






.verse0 {background-color: #fff}
.verseNone {background-color: #fff}

.verse1 {background-color: #fcc}
.verse2 {background-color: #cfc}
.verse3 {background-color: #ccf}
.verse4 {background-color: #ffc}
.verse5 {background-color: #fcf}
.verse6 {background-color: #cff}
.verse7 {background-color: #faa}
.verse8 {background-color: #afa}
.verse9 {background-color: #aaf}
.verse10 {background-color: #ffa}
.verse11 {background-color: #faf}
.verse12 {background-color: #aff}

.verse13 {background-color: #fcc}
.verse14 {background-color: #cfc}
.verse15 {background-color: #ccf}
.verse16 {background-color: #ffc}
.verse17 {background-color: #fcf}
.verse18 {background-color: #cff}
.verse19 {background-color: #faa}
.verse20 {background-color: #afa}
.verse21 {background-color: #aaf}
.verse22 {background-color: #ffa}
.verse23 {background-color: #faf}
.verse24 {background-color: #aff}

.verse25 {background-color: #fcc}
.verse26 {background-color: #cfc}
.verse27 {background-color: #ccf}
.verse28 {background-color: #ffc}
.verse29 {background-color: #fcf}
.verse30 {background-color: #cff}
.verse31 {background-color: #faa}
.verse32 {background-color: #afa}
.verse33 {background-color: #aaf}
.verse34 {background-color: #ffa}
.verse35 {background-color: #faf}
.verse36 {background-color: #aff}

.verse37 {background-color: #fcc}
.verse38 {background-color: #cfc}
.verse39 {background-color: #ccf}
.verse40 {background-color: #ffc}
.verse41 {background-color: #fcf}
.verse42 {background-color: #cff}
.verse43 {background-color: #faa}
.verse44 {background-color: #afa}
.verse45 {background-color: #aaf}
.verse46 {background-color: #ffa}
.verse47 {background-color: #faf}
.verse48 {background-color: #aff}

