<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>EduPo</title>
    <style>
        input {display: block;}
        textarea {width: 80%; height: 20em;}
    </style>
</head>
<body>

<h1>EduPo</h1>

<h2>Generovat báseň</h2>
{% include 'gen_input.html' %}

<h2>Analyzovat báseň</h2>
{% include 'ana_input.html' %}

<h2>Zobrazit báseň</h2>
<ul>
<li><a href="show?poemid=78467">Rokyta: Buben (z databáze)</a></li>
<li><a href="show?poemid=78468.json">Rokyta: Buben (ze souboru)</a></li>
<li><a href="show?poemid=7088">Erben: Kytice</a></li>
<li><a href="show?poemid=33745">Mácha: Máj (1.)</a></li>
<li><a href="show?poemid=72192">Bezruč: Maryčka Magdónova</a></li>
<li><a href="show?poemid=72197">Bezruč: Ostrava</a></li>
<li><a href="show?poemid=63470">Gellner: Všichni mi lhali</a></li>
<li><a href="show?poemid=8903">Borovský: Král Lávra</a></li>
<li><a href="show?poemid=55456">Vrchlický: Za trochu lásky</a></li>
<li><a href="show?poemid=46212">Sova: Kdo vám tak zcuchal tmavé vlasy</a></li>
<li><a href="showlist">více básní...</a></li>
</ul>

</body>
</html>

