<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/show_poem_base.css" />
    <link rel="stylesheet" id="style" href="static/show_poem_rich.css" />
    <script>
        function set_style(style) {
            document.getElementById('style').href='static/show_poem_'+style+'.css';
        }
    </script>
</head>
<body>

    {% if title %}
    <h1>{{ title }}</h1>
    {% endif %}

    {% if author_name %}
    <h2>{{ author_name }}</h2>
    <p class="author">
    {% if author != author_name %}vlastním jménem {{ author }}, {% endif %}
    {{ born }}-{{ died }}{% for school in schools %}, {{ school }}{% endfor %}
    </p>
    {% endif %}
    
    {% if b_title %}
    <p class="book">
    sbírka {{ b_title }}{% if subtitle %}: {{ subtitle }}{% endif %}
    ({{ publisher }}) {{ place }}, {{ year }}
    </p>
    {% endif %}
    
    {% if id %}
    <p class="id">{{ id }}</p>
    {% endif %}

    <div>
        <button onclick="set_style('plain')">Bez anotace</button>
        <button onclick="set_style('rich')">S anotací</button>

    {% if not stanzas[0].verses[0].syllables %}
    <form method="post" action="analyze">
        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="author" value="{{ author }}">
        <input type="hidden" name="author_name" value="{{ author_name }}">
        <input type="hidden" name="title" value="{{ title }}">
        <input type="hidden" name="schools" value="{% for school in schools %}{{ school }} {% endfor %}">
        <input type="hidden" name="b_title" value="{{ b_title }}">
        <input type="hidden" name="born" value="{{ born }}">
        <input type="hidden" name="died" value="{{ died }}">
        <input type="hidden" name="subtitle" value="{{ subtitle }}">
        <input type="hidden" name="publisher" value="{{ publisher }}">
        <input type="hidden" name="place" value="{{ place }}">
        <input type="hidden" name="year" value="{{ year }}">
        <textarea name="text" hidden="hidden">{%
        for stanza in stanzas
        %}{%
        for verse in stanza.verses
        %}{%
        if verse.stanza and verse.stanza != stanza.verses[loop.index0-1].stanza
        %}
{%
        endif
        %}{{
        verse.text
        }}
{%
        endfor
        %}
{%
        endfor
        %}</textarea>
        <input name="submit" type="submit" value="Analyzovat">
    </form>
    {% endif %}

    </div>

    <hr>

    <div class="body">
        {% for stanza in stanzas %}
            <table class="stanza" cellspacing="0" cellpadding="0">
            {% for verse in stanza.verses %}
            
            {% if verse.stanza and verse.stanza != stanza.verses[loop.index0-1].stanza  %}
            </table>
            <br>
            <table class="stanza" cellspacing="0" cellpadding="0">
            {% endif %}

            <tr class="verse verse{{ verse.rhyme }}">
                    <td class="meter">{{ verse.metrum }}</td>
                    <td class="rhyme">{{ verse.rym }}</td>
                    {% if verse.syllables %}
                    <td class="versetext">{%
                        for syllable in verse.syllables
                        %}<span class="syllable {{ syllable.class }}">{%
                            if syllable.ort_consonants
                            %}<span class="syllpart ort_consonants {%
                                if syllable.rhyme_from == "c"
                                %} rhyming {%
                                endif
                                %}">{{
                                syllable.ort_consonants
                                }}</span>{%
                            endif
                            %}{%
                            if syllable.ort_vowels
                            %}<span class="syllpart ort_vowels position{{ syllable.position }} stress{{ syllable.stress }} {%
                                if syllable.rhyme_from == "c" or syllable.rhyme_from == "v"
                                %} rhyming {%
                                endif
                                %}">{{
                                syllable.ort_vowels
                                }}</span>{%
                            endif
                            %}{%
                            if syllable.ort_end_consonants
                            %}<span class="syllpart ort_end_consonants {%
                                if syllable.rhyme_from == "c" or syllable.rhyme_from == "v"
                                %} rhyming {%
                                endif
                                %}">{{
                                syllable.ort_end_consonants
                                }}</span>{%
                            endif
                            %}{%
                            if syllable.after
                            %}<span class="syllpart after">{{
                                syllable.after
                                }}</span>{%
                            endif
                            %}</span>{%
                        endfor
                    %}</td>
                    {% else %}
                    <td>{{ verse.text }}</td>
                    {% endif %}
                    <td class="stressinfo">{{ verse.pattern  }}<br>{{ verse.rythm }}</td>
                    <td class="meterinfo">{{ verse.metrum }}-{{ verse.foot}}-{{ verse.clause }}</td>
                </tr>
            {% endfor %}
            </table>
            <br>
        {% endfor %}
    </div>

</body>
</html>

<!--
{{ json|safe }}
-->
