<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/show_poem_base.css" />
    <link rel="stylesheet" id="style" href="static/show_poem_rich.css" />
    <script>
        function set_style(style) {
            document.getElementById('style').href='static/show_poem_'+style+'.css';
        }
    </script>
</head>
<body>

    <h1>{{ title }}</h1>

    <h2>{{ author_name }}</h2>

    <p class="author">
    {% if author != author_name %}vlastním jménem {{ author }}, {% endif %}
    {{ born }}-{{ died }}{% for school in schools %}, {{ school }}{% endfor %}
    </p>
    
    {% if b_title %}
    <p class="book">
    sbírka {{ b_title }}{% if subtitle %}: {{ subtitle }}{% endif %}
    ({{ publisher }}) {{ place }}, {{ year }}
    </p>
    {% endif %}
    
    <p class="id">{{ id }}</p>

    <p>
        <button onclick="set_style('plain')">Bez anotace</button>
        <button onclick="set_style('rich')">S anotací</button>
    </p>

    <hr>

    <div class="body">
        {% for stanza in stanzas %}
            <table class="stanza" cellspacing="0" cellpadding="0">
            {% for verse in stanza.verses %}
            <tr class="verse verse{{ verse.rhyme }}">
                    <td class="meter">{{ verse.metrum }}</td>
                    <td class="rhyme">{{ verse.rym }}</td>
                    {% if verse.syllables %}
                    <td class="versetext">{%
                        for syllable in verse.syllables
                        %}<span class="syllable {{ syllable.class }}">{%
                            if syllable.ort_consonants
                            %}<span class="syllpart ort_consonants">{{
                                syllable.ort_consonants
                                }}</span>{%
                            endif
                            %}{%
                            if syllable.ort_vowels
                            %}<span class="syllpart ort_vowels position{{ syllable.position }} stress{{ syllable.stress }}">{{
                                syllable.ort_vowels
                                }}</span>{%
                            endif
                            %}{%
                            if syllable.ort_end_consonants
                            %}<span class="syllpart ort_end_consonants">{{
                                syllable.ort_end_consonants
                                }}</span>{%
                            endif
                            %}{%
                            if syllable.after
                            %}<span class="syllpart after">{{
                                syllable.after
                                }}</span>{%
                            endif
                            %}</span>{%
                        endfor
                    %}</td>
                    {% else %}
                    <td>{{ verse.text }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% endfor %}
    </div>

</body>
</html>

<!--
{{ json|safe }}
-->
