<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/show_poem_base.css" />
    <link rel="stylesheet" id="style" href="static/show_poem_rich.css" />
    <script>
        function set_style(style) {
            document.getElementById('style').href='static/show_poem_'+style+'.css';
        }
    </script>
</head>
<body>

    <h1>{{ title }}</h1>

    <h2>{{ author_name }}</h2>

    <p class="author">
    {% if author != author_name %}vlastním jménem {{ author }}, {% endif %}
    {{ born }}-{{ died }}{% for school in schools %}, {{ school }}{% endfor %}
    </p>
    
    {% if b_title %}
    <p class="book">
    sbírka {{ b_title }}{% if subtitle %}: {{ subtitle }}{% endif %}
    ({{ publisher }}) {{ place }}, {{ year }}
    </p>
    {% endif %}
    
    <p class="id">{{ id }}</p>

    <p>
        <button onclick="set_style('plain')">Bez anotace</button>
        <button onclick="set_style('rich')">S anotací</button>
    </p>

    <hr>

    <div class="body">
        {% for stanza in stanzas %}
            <table class="stanza" cellspacing="0" cellpadding="0">
            {% for verse in stanza.verses %}
            <tr class="verse{{ verse.rhyme }}">
                    <td class="meter">{{ verse.metrum }}</td>
                    <td class="rhyme">{{ verse.rym }}</td>
                    {% if verse.syllables %}
                    <td class="verse">
                        {% for syllable in verse.syllables %}
                        <div class="syllable {{ syllable.class }}">
                        <div class="syllpart">
                            {{ syllable.ort_consonants }}
                        </div>
                        <div class="syllpart">
                            {{ syllable.ort_vowels }}
                        </div>
                        <div class="syllpart">
                            {{ syllable.ort_end_consonants }}
                        </div>
                        </div>
                        {% endfor %}
                    </td>
                    {% else %}
                    <td>{{ verse.text }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% endfor %}
    </div>

</body>
</html>

<!--
{{ json|safe }}
-->
