:root {
    --blue: #3054A5;
}

.font-ptserif {
    font-family: "PTSerif-Regular";
}

.font-ibmplexmono {
    font-family: "IBMPlexMono";
}

a {
    color: inherit;
    text-decoration: inherit;
}