/* START moved from root style.css */
.user {text-align: right; background-color: #aaf}

.assistant {text-align: left; background-color: #faa}

.form_as_button {display: inline}

.form_as_button input {font-size: x-large}
/* END */

body {
    color: white;
    background-color: var(--blue);
    text-align: center;
    margin: 0;
    padding: 40px;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
}

.nav-link {
    font-family: "IBMPlexMono";
    font-weight: 400;
}

.nav-link .fa-icon {
    width: 12px;
}

header, footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header {
    align-self: start;
}

footer {
    align-self: end;
}

header #logo {
    font-family: "IBMPlexMono";
    font-weight: 400;
    font-size: xx-large;
    position: relative;
    top: 0;
    left: 0;
}

header #go-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: stretch;
}

#welcome {
    hyphens: auto;
    font-size: large;
    font-family: "PTSerif-Regular";
}

#welcome button {
    margin-top: 150px;
}

.img-with-forms {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

#generated-img {
    width: 512px;
    margin: auto;
}

.horizontal-forms-holder {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 50px;
}

#share {
    display: flex;
    flex-direction: column;
}