    <form method="post" action="analyze">
        Autor: <input name="author"><br>
        Název: <input name="title"><br>
        
        <textarea
               name="text"
               placeholder="Zemřela matka a do hrobu dána,&#10;siroty po ní zůstaly."
               title="Text básně k analýze"
        ></textarea>
        <br>
        <input type="submit" value="Analyzovat (TODO i styl)"
        onclick="this.value='Analyzuji...'; this.disabled = true; this.form.submit();">
    </form>

