    <script>
        function update_datalist(source_id, target_id) {
            selected = document.getElementById(source_id).value;
            document.getElementById(target_id).setAttribute('list', target_id + '_datalist' + selected);
        }
	
	function toggle_auth() {
		    var modelSelect = document.getElementById("modelSelect");
		    var fields = document.querySelectorAll(".authtit");
		    var fields_basic = document.querySelectorAll(".basiconly");
	            var pversu = document.getElementById("pocetversu");
		    if (modelSelect.value === "tm") {
		        fields.forEach(field => {
			    field.style.display = "block";
			    });
		        fields_basic.forEach(field => {
			    field.style.display = "none";
			    });
			    pversu.style.display = "none";
			} else if (modelSelect.value === "mc") {
		        fields.forEach(field => {
			    field.style.display = "none";
			    });
		        fields_basic.forEach(field => {
			    field.style.display = "inline";
			    });
			    pversu.style.display = "block";
			} else {
		        fields.forEach(field => {
			    field.style.display = "block";
			    });
		        fields_basic.forEach(field => {
			    field.style.display = "inline";
			    });
			    pversu.style.display = "block";
		        }
	}
    </script>
    
    <form method="post" action="gen">
        <p>Model:
        <select name="modelspec" onchange="toggle_auth()" id="modelSelect">
            <option value="mc">základní</option>
            <option value="tm" selected>nový</option>
            <option value="gpt">ChatGPT</option>
        </select>
        Základní model umí 4verší a 6verší, nový model umí lecjaké délky (ale
        neumí anafory a epanastrofy).
        Základní model je rychlejší ale horší, nový model je lepší ale
        generování mu déle trvá.
        </p>

        <p class="authtit">Autor: <input name="author"></p>
    
        <p class="authtit">Název: <input name="title"></p>


        <p>Metrum:
        <select name="metre">
        <option value="">náhodně</option>
        <option value="T">trochej</option>
        <option value="J">jamb</option>
        <option value="D">daktyl</option>
        <option value="N">volný</option>
        </select>
        </p>

        <p id="pocetversu">Počet veršů:
        <select name="verses_count" id="verses_count"
            onchange="update_datalist('verses_count', 'rhyme_scheme')">
        <option value="0">náhodně</option>
        <option value="4">4</option>
        <option value="6">6</option>
        </select>
        </p>


        <p>
        Rýmové schéma:
        <input type="text"
               name="rhyme_scheme"
               placeholder="AABB"
               maxlength="20"
               title="Rýmové schéma za použití 4 nebo 6 velkých písmen abecedy (A, B, C, X), např. ABBA"
               list=rhyme_scheme_datalist0
               id="rhyme_scheme"
               autofocus
        >
        <datalist id="rhyme_scheme_datalist0">
        <option>náhodně</option>
        <option>AABB</option>
        <option>ABAB</option>
        <option>ABBA</option>
        <option>XAXA</option>
        <option>AAXX</option>
        <option>XXXX</option>
        <option>AABBCC</option>
        <option>ABABCC</option>
        <option>ABABXX</option>
        <option>XXXXXX</option>
        </datalist>
        <datalist id="rhyme_scheme_datalist4">
        <option>náhodně</option>
        <option>AABB</option>
        <option>ABAB</option>
        <option>ABBA</option>
        <option>XAXA</option>
        <option>AAXX</option>
        <option>XXXX</option>
        </datalist>
        <datalist id="rhyme_scheme_datalist6">
        <option>náhodně</option>
        <option>AABBCC</option>
        <option>ABABCC</option>
        <option>ABABXX</option>
        <option>XXXXXX</option>
        </datalist>
        Rýmující verše se označují
        stejným písmenem, nerýmující se verš se označuje X.
        <!-- Nejběžnější schémata: ABAB, XXXX, XAXA, XXXXXX, AABB, ABBA, AABBCC, AAXX, ABABXX, ABABCC -->
        </p>
        
        <p>Počet slabik v prvním verši:
        <select name="syllables_count">
        <option value="0">náhodně</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        </select>
        (respektive ve všech verších které mají definovaný požadavek na první slovo)
        </p>

        <!--<p>TODO rozměr (počet stop) - buď stejný pro celou báseň, nebo pro
        jednotlivé rýmy; není to nutně totéž jako počet slabik (m/f/a se liší
        počtem slabik při stejném rozměru)</p>-->

        <p class="authtit">Pevná forma:
        <select name="form">
        <option value="">ne</option>
        <option value="sonet">italský sonet</option>
        <option value="haiku">haiku</option>
        <option value="limerik">limerik</option>
        </select>
        </p>

        <!--<p>Téma/motiv:
        <input type="text"
               name="motiv"
               disabled
        >
        </p>-->

	<script>
	    function togglePrvoslova() {
		    var section = document.getElementById("prvoslova")
		    var button = document.getElementById("prvoslovaButton")
		    if (section.style.display === "none") {
			    section.style.display = "block";  // Show the section
                            button.textContent = "➖ Skrýt první slova veršů";
			} else {
			    section.style.display = "none";   // Hide the section
			    button.textContent = "➕ První slova veršů";
			}
		    }
	</script>

	<button type="button" id="prvoslovaButton" onclick="togglePrvoslova()">➕ První slova veršů</button>
	<div id="prvoslova">
	<p>Lze vypnit jen první slovo prvního verše, anebo i první slova dalších
        veršů...
        </p>
        <ol>
        <li><input type="text"
               id="fw0"
               name="first_words"
               placeholder="Muž"
        >
	<span class="basiconly">
        <input type="checkbox" name="anaphors" value="0"  disabled="disabled"> anafora
        <input type="checkbox" name="epanastrophes" value="0"  disabled="disabled"> epanastrofa
	</span>
        <button type="button" onclick="document.getElementById('fw0').value=getRandomNoun()">Náhodné slovo</button>

        <li><input type="text"
               id="fw1"
               name="first_words"
               placeholder="Žena"
        >
	<span class="basiconly">
        <input type="checkbox" name="anaphors" value="1"> anafora
        <input type="checkbox" name="epanastrophes" value="1"> epanastrofa
	</span>
        <button type="button" onclick="document.getElementById('fw1').value=getRandomNoun()">Náhodné slovo</button>
        
        <li><input type="text"
               id="fw2"
               name="first_words"
               placeholder="Banán"
        >
	<span class="basiconly">
        <input type="checkbox" name="anaphors" value="2"> anafora
        <input type="checkbox" name="epanastrophes" value="2"> epanastrofa
	</span>
        <button type="button" onclick="document.getElementById('fw2').value=getRandomNoun()">Náhodné slovo</button>
        
        <li><input type="text"
               id="fw3"
               name="first_words"
               placeholder="Mušle"
        >
	<span class="basiconly">
        <input type="checkbox" name="anaphors" value="3"> anafora
        <input type="checkbox" name="epanastrophes" value="3"> epanastrofa
	</span>
        <button type="button" onclick="document.getElementById('fw3').value=getRandomNoun()">Náhodné slovo</button>
        
        <li><input type="text"
               id="fw4"
               name="first_words"
               placeholder="Lanýž"
        >
	<span class="basiconly">
        <input type="checkbox" name="anaphors" value="4"> anafora
        <input type="checkbox" name="epanastrophes" value="4"> epanastrofa
	</span>
        <button type="button" onclick="document.getElementById('fw4').value=getRandomNoun()">Náhodné slovo</button>
        
        <li><input type="text"
               id="fw5"
               name="first_words"
               placeholder="Hrob"
        >
	<span class="basiconly">
        <input type="checkbox" name="anaphors" value="5"> anafora
        <input type="checkbox" name="epanastrophes" value="5"> epanastrofa
	</span>
        <button type="button" onclick="document.getElementById('fw5').value=getRandomNoun()">Náhodné slovo</button>
        
        </ol>
	</div>


        <!--<p>Typ lyriky:
        <select name="lyrika_style" disabled>
        <option value="">ne</option>
        <option value="přírodní">přírodní</option>
        <option value="milostná">milostná</option>
        </select>
        </p>

        <p>Lyrický subjekt (rod, stáří, pocit...):
        <select name="lyrika_subjekt" disabled>
        <option value="">neurčeno</option>
        <option value="muž">muž</option>
        <option value="žena">žena</option>
        </select>
        
        </p>

        <p>Styl autora:
        <select name="author_style" disabled>
        <option value="">ne</option>
        <option value="Mácha">Mácha</option>
        </select>
        </p>

        <p>Styl školy:
        <select name="school_style" disabled>
        <option value="">ne</option>
        <option value="ruchovci">ruchovci</option>
        </select>
        </p>-->

        <p>Temperature: <input type="number" name="temperature" value="1.0"
        step="0.01" min="0.01" max="10"> (1 standard, mezi
        0 a 1 konzervativnější, mezi 1 a 2 náhodnější, víc než 3 už je
        nesmyslné)</p>

        <p>Počet slok:
        <input type="number" name="max_strophes" value="2" step="1" min="1" max="10">
        (maximální počet slok - model může vygenerovat kratší báseň)</p>

        <input type="submit" value="Generovat" title="Generovat"
        onclick="this.value='Generuji...'; this.disabled = true; this.form.submit();">
    </form>

    <script>togglePrvoslova()</script>
    <script>toggle_auth()</script>
