
    <script>
	function updateModelVisibility() {
		var model = document.getElementById("modelSelect").value;
		document.querySelectorAll("[data-hide-models]").forEach(el => {
			var hideModels = el.dataset.hideModels.split(",").map(s => s.trim());
			el.style.display = hideModels.includes(model) ? "none" : "";
		});
	}
    </script>
    
    <form method="post" action="gen">
        <p><span class="tooltip"
            title="Komerční modely (GPT, Gemini) podporují všechny parametry, ale nejsou speciálně vyladěné na poezii. Naše modely (základní, nový) jsou speciálně vyladěné na poezii a trénované na korpuse české poezie, ale podporují nastavení jen některých parametrů."
            >Model</span>:
        <select name="modelspec" onchange="updateModelVisibility()" id="modelSelect">
            <option value="mc">základní</option>
            <option value="tm">nový</option>
            <!-- <option value="new" selected>3g</option> -->
            <option value="gpt-4o-mini">GPT 4o mini</option>
            <option value="gpt-5-mini">GPT 5 mini</option>
            <option value="google/gemini-3.1-pro-preview" selected>Gemini 3.1 Pro</option>
        </select>
        </p>

        <p data-hide-models="mc"><span class="tooltip"
            title="Můžete zvolit nebo vepsat autora. Pokud ponecháte nevyplněno, model náhodně zvolí autora."
            >Autor</span>:
            <input type="text"
               name="author"
               placeholder="Mácha, Karel Hynek"
               list=author_datalist0
               id="author"
               autofocus
        >
        <datalist id="author_datalist0">
        {% include 'selected_authors.html' %}
        </datalist>
        
        </p>

        <p data-hide-models="mc,tm">Styl sbírky:
        <select name="collection_style" id="collection_style">
            <option />
        </select>
        </p>
        
        <p data-hide-models="mc">Název: <input name="title" type="text"></p>


        <p data-hide-models="new"><span class="tooltip"
            title="Platí pro první verš v básni; polymetrická báseň může pro různé verše používat různé metrum."
            >Metrum</span>:
        <select name="metre">
        <option value=""></option>
        <option value="T">trochej</option>
        <option value="J">jamb</option>
        <option value="D">daktyl</option>
        <option value="N">volný</option>
        </select>
        </p>

        <p id="pocetversu" data-hide-models="tm,new"><span class="tooltip"
            title="Typicky 4 nebo 6, ale můžete zadat vlastní hodnotu.
Platí pro první sloku, další sloky mohou mít i jiné počty veršů.
Pokud mají mít jednotlivé sloky různé počty veršů, můžete zadat více hodnot oddělených mezerami (např.  "4 4 3 3")."
            >Počet veršů ve sloce</span>:
        <input name="verses_count" id="verses_count"
            type="number" min="0" max="20">
        </p>

        <p data-hide-models="new"><span class="tooltip"
            title="Rýmující verše se označují stejným písmenem, nerýmující se verš se označuje X.
Můžete si vybrat některé z běžných rýmových schémat, anebo vepsat vlastní.
Platí pro první sloku, ostatní sloky mohou mít i jiné rýmové schéma.
Pokud mají mít jednotlivé sloky různá schémata, můžete vepsat schámata pro jednotlivé sloky oddělená mezerou (např. "ABBA CDC")."
            >Rýmové schéma</span>:
        <input type="text"
               name="rhyme_scheme"
               placeholder="AABB"
               maxlength="20"
               list=rhyme_scheme_datalist0
               id="rhyme_scheme"
               autofocus
        >
        <datalist id="rhyme_scheme_datalist0">
        <option>náhodně</option>
        <option>AABB</option>
        <option>ABAB</option>
        <option>ABBA</option>
        <option>XAXA</option>
        <option>AAXX</option>
        <option>XXXX</option>
        <option>AABBCC</option>
        <option>ABABCC</option>
        <option>ABABXX</option>
        <option>XXXXXX</option>
        </datalist>
        </p>
        

        <p><span class="tooltip"
            title="Maximální počet slok - model může vygenerovat kratší báseň. Delší básně jsou zajímavější, ale jejich generování trvá déle."
            >Počet slok</span>:
        <input type="number" name="max_strophes" value="1" step="1" min="1" max="10">
        
        </p>

        <p data-hide-models="new">Délka prvního verše:
        <select name="syllables_count">
        <option value="0"></option>
        <option value="short">krátký verš</option>
        <option value="long">dlouhý verš</option>
        <option value="4">4 slabiky</option>
        <option value="5">5 slabik</option>
        <option value="6">6 slabik</option>
        <option value="7">7 slabik</option>
        <option value="8">8 slabik</option>
        <option value="9">9 slabik</option>
        <option value="10">10 slabik</option>
        <option value="11">11 slabik</option>
        <option value="12">12 slabik</option>
        <option value="13">13 slabik</option>
        <option value="14">14 slabik</option>
        <option value="15">15 slabik</option>
        <option value="16">16 slabik</option>
        </select>
        <!--(respektive ve všech verších které mají definovaný požadavek na první slovo)
        TODO teď to tu nejde zadat ale model umí i různé počty pro různé
        verše, např. "8 7" pokud se mají střídat verše o 8 a 7 slabikách, nebo
        třeba "8 7 7 8"...-->
        </p>

        <!--<p>TODO rozměr (počet stop) - buď stejný pro celou báseň, nebo pro
        jednotlivé rýmy; není to nutně totéž jako počet slabik (m/f/a se liší
        počtem slabik při stejném rozměru)</p>-->

        <p data-hide-models="mc">Pevná forma:
        <select name="form">
        <option></option>
        <option value="sonet">italský sonet</option>
        <option>haiku</option>
        <option>limerik</option>
        <option>anglický sonet</option>
        <option>stance</option>
        <option>gazel</option>
        <option>sapfická strofa</option>
        <option>rondel</option>
        <option>tercína</option>
        </select>
        <!--Pokud je vybrána pevná forma, nastavení v rozporu s vybranou
            formou se budou ignorovat.-->
        </p>

        <p data-hide-models="mc,tm">Motivy:
        <textarea rows=5 type="text"
               name="motives"
placeholder="Naděje a touha
Krása a pomíjivost
Ztráta a smutek"></textarea>
        </p>

	<script>
	    function togglePrvoslova() {
		    var section = document.getElementById("prvoslova")
		    var button = document.getElementById("prvoslovaButton")
		    if (section.style.display === "none") {
			    section.style.display = "block";  // Show the section
                            button.textContent = "➖ Skrýt první slova veršů";
			} else {
			    section.style.display = "none";   // Hide the section
			    button.textContent = "➕ První slova veršů";
			}
		    }
	</script>

	<div data-hide-models="new">
	<button type="button" id="prvoslovaButton" onclick="togglePrvoslova()">➕ První slova veršů</button>
	<div id="prvoslova">
	<p>Lze vypnit jen první slovo prvního verše, anebo i první slova dalších
        veršů...
        </p>
        <ol>
        <li><input type="text"
               id="fw0"
               name="first_words"
               placeholder="Muž"
        >
	<span data-hide-models="new,gpt-4o-mini,gpt-5-mini">
        <input type="checkbox" name="anaphors" value="0"  disabled="disabled"> anafora
        <input type="checkbox" name="epanastrophes" value="0"  disabled="disabled"> epanastrofa
	</span>
        <button type="button" onclick="document.getElementById('fw0').value=getRandomNoun()">Náhodné slovo</button>

        <li><input type="text"
               id="fw1"
               name="first_words"
               placeholder="Žena"
        >
	<span data-hide-models="new,gpt-4o-mini,gpt-5-mini">
        <input type="checkbox" name="anaphors" value="1"> anafora
        <input type="checkbox" name="epanastrophes" value="1"> epanastrofa
	</span>
        <button type="button" onclick="document.getElementById('fw1').value=getRandomNoun()">Náhodné slovo</button>
        
        <li><input type="text"
               id="fw2"
               name="first_words"
               placeholder="Banán"
        >
	<span data-hide-models="new,gpt-4o-mini,gpt-5-mini">
        <input type="checkbox" name="anaphors" value="2"> anafora
        <input type="checkbox" name="epanastrophes" value="2"> epanastrofa
	</span>
        <button type="button" onclick="document.getElementById('fw2').value=getRandomNoun()">Náhodné slovo</button>
        
        <li><input type="text"
               id="fw3"
               name="first_words"
               placeholder="Mušle"
        >
	<span data-hide-models="new,gpt-4o-mini,gpt-5-mini">
        <input type="checkbox" name="anaphors" value="3"> anafora
        <input type="checkbox" name="epanastrophes" value="3"> epanastrofa
	</span>
        <button type="button" onclick="document.getElementById('fw3').value=getRandomNoun()">Náhodné slovo</button>
        
        <li><input type="text"
               id="fw4"
               name="first_words"
               placeholder="Lanýž"
        >
	<span data-hide-models="new,gpt-4o-mini,gpt-5-mini">
        <input type="checkbox" name="anaphors" value="4"> anafora
        <input type="checkbox" name="epanastrophes" value="4"> epanastrofa
	</span>
        <button type="button" onclick="document.getElementById('fw4').value=getRandomNoun()">Náhodné slovo</button>
        
        <li><input type="text"
               id="fw5"
               name="first_words"
               placeholder="Hrob"
        >
	<span data-hide-models="new,gpt-4o-mini,gpt-5-mini">
        <input type="checkbox" name="anaphors" value="5"> anafora
        <input type="checkbox" name="epanastrophes" value="5"> epanastrofa
	</span>
        <button type="button" onclick="document.getElementById('fw5').value=getRandomNoun()">Náhodné slovo</button>
        
        </ol>
	</div>
	</div>

        <p data-hide-models="gpt-5-mini"><span class="tooltip"
            title="Teplota (temperature) ovlivňuje, jak moc konzervativní/divoký bude model.  Čím vyšší teplota, tím náhodnější jsou výstupy modelu.
Pro nový model nám dobře fungují hodnoty kolem 0.7, pro ChatGPT 4 kolem 0.5 (pro ChatGPT 5 se temperature ignoruje)."
            >Temperature</span>: <input type="number" name="temperature" value="0.7" step="0.01" min="0.01" max="10">
        </p>

        <p><span class="tooltip"
            title="Maximální počet pokusů o vygenerování dobré básně."
            >Počet pokusů</span>:
        <input type="number" name="max_tries" value="1" step="1" min="1" max="10">
        </p>


	<script>
	    function toggleMore() {
		    var section = document.getElementById("more")
		    var button = document.getElementById("moreButton")
		    if (section.style.display === "none") {
			    section.style.display = "block";  // Show the section
                            button.textContent = "➖ Skrýt další nastavení";
			} else {
			    section.style.display = "none";   // Hide the section
			    button.textContent = "➕ Další nastavení";
			}
		    }
	</script>

	<button type="button" id="moreButton" onclick="toggleMore()">➕ Další nastavení</button>
	<div id="more">

        <p data-hide-models="mc,tm,new">Rýmovaná báseň:
        <select name="rhymed">
        <option value=""></option>
        <option value="yes">ano</option>
        <option value="no">ne</option>
        </select>
        </p>
        
    <p data-hide-models="mc,tm,new">Současná nebo stará báseň:
        <select name="old_style">
        <option value=""></option>
        <option value="old">stará</option>
        <option value="new">současná</option>
        </select>
        </p>
        
        <p data-hide-models="mc,tm">Nálada:
        <select name="mood">
        <option></option>
        <option>veselá</option>
        <option>smutná</option>
        </select>
        </p>

        <p data-hide-models="mc,tm,new">Délka básně:
        <select name="poem_length">
        <option value=""></option>
        <option value="short">krátká</option>
        <option value="medium">středně dlouhá</option>
        <option value="long">dlouhá</option>
        </select>
        </p>
        
    <p> 
        Model se opakovaně snaží vygenerovat báseň, která má smyslupnost
        alespoň
        <input type="number" name="min_meaning" value="0.7" step="0.1" min="0" max="1">
        a podíl neznámých slov nejvýše
        <input type="number" name="max_unk" value="0.05" step="0.01" min="0" max="1">
        Pokud se to na daný počet pokusů nezdaří, model vrátí nejlepší z
        vygenerovaných básní dle těchto kritérií.
        Vyšší počet pokusů vede k lepším básním, ale déle trvajícímu
        generování.

        </p>

    </div>


        <input type="submit" value="Generovat" title="Generovat"
        onclick="this.value='Generuji...'; this.disabled = true; this.form.submit();">
    </form>

    <script>togglePrvoslova()</script>
    <script>updateModelVisibility()</script>

    {% include 'select_collection.html' %}


<p>Aplikace nekontroluje rozpory mezi nastavením jednotlivých parametrů,
některé nastavitelné kombinace parametrů mohou být nesplnitelné.</p>

