<p>Nějak blbě se to chová s uvozovkama, pokud chci hledat něco co má v JSONu '
tak musim ve skutečnosti hledat " a to překvapivě najde ' (aneb z nějakého
důvodu je místo jednoduchých uvozovek potřeba používat dvojité a to i v
případě že v datech jsou skutečně ty jednoduché...)</p>
    <form method="post" action="{{ url_for('call_search') }}">
        <input name="query">
        <input type="checkbox" name="use_regex"> regex
        <input type="submit" value="Vyhledat" title="Vyhledat"
        onclick="this.value='Vyhledávám...'; this.disabled = true; this.form.submit();">
    </form>

