<script>
document.addEventListener("DOMContentLoaded", function() {
  
  // map of author → allowed collections
  var collectionsByAuthor = {
    "Mácha, Karel Hynek": [
      "Básně - Dramatické zlomky (in Dílo Karla Hynka Máchy, díl 1)",
      "Máj (in Spisy Karla Hynka Máchy, díl 1, svazek 1)",
      "Máj (in Básně a dramatické zlomky, in Spisy Karla Hynka Máchy, svazek 1)",
    ],
    "Erben, Karel Jaromír": [
      "Kytice z básní",
      "Kytice z pověstí národních",
    ],
    "Neruda, Jan": [
      "Balady a romance",
      "Básně 1 (in Spisy Jana Nerudy, svazek 1)",
      "Básně 2 (in Spisy Jana Nerudy, svazek 2)",
      "Druhý sešit veršů z pozůstalosti",
      "Hřbitovní kvítí",
      "Knihy veršů",
      "Prosté motivy",
      "Písně kosmické",
      "Sešit veršů lyrických z pozůstalosti",
      "U nás",
      "Zpěvy páteční",
    ],
    "Hálek, Vítězslav": [
      "Alfréd",
      "Balad a romancí řada druhá (in Sebrané spisy Vítězslava Hálka, svazek 9)",
      "Dědicové Bílé hory",
      "Děvče z Tater",
      "Goar",
      "Mejrima a Husejn",
      "Pohádky z naší vesnice (in Sebrané spisy Vítězslava Hálka, svazek 9)",
      "Různé listy (in Sebrané spisy Vítězslava Hálka, svazek 9)",
      "V přírodě (in Sebrané spisy Vítězslava Hálka, svazek 9)",
      "Večerní písně",
      "Černý prapor",
    ],
    "Březina, Otokar": [
      "Básnické spisy 2, 1",
      "Básnické spisy 2, 2",
      "Básnické spisy (in Spisy Otokara Březiny, svazek 1)",
      "Prvotiny (in Spisy Otokara Březiny, svazek 3)",
      "Ruce",
      "Stavitelé chrámu",
      "Svítání na západě",
      "Tajemné dálky",
      "Větry od pólů",
    ],
    "Karásek ze Lvovic, Jiří": [
      "Endymion (in Spisy Jiřího Karáska ze Lvovic, svazek 14)",
      "Hovory se smrtí",
      "Hvězdy nad Prahou",
      "Kniha aristokratická",
      "Nad obrazem Marie Magdalény v hradčanské Loretě",
      "Ostrov vyhnanců (in Spisy Jiřího Karáska ze Lvovic)",
      "Poslední vinobraní",
      "Písně tulákovy o životě a smrti (in Spisy Jiřího Karáska ze Lvovic, svazek 19)",
      "Sexus necans",
      "Sodoma (in Spisy Jiřího Karáska ze Lvovic, svazek 5)",
      "Zazděná okna",
    ],
    "Hlaváček, Karel": [
      "Mstivá kantiléna",
      "Pozdě k ránu",
      "Sokolské sonety",
      "Žalmy",
    ],
    "Gellner, František": [
      "Po nás ať přijde potopa!",
      "Nové verše",
      "Don Juan",
      "Radosti života",
      "Básně (in Spisy Františka Gellnera, díl I.)",
    ],
    "Wolker, Jiří": [
      "Těžká hodina",
      "Host do domu",
      "Host do domu",
    ],
    "Nezval, Vítězslav": [
      "Židovský hřbitov",
      "Snídaně v trávě",
      "Tyranie nebo láska",
      "Sylvestrovská noc",
      "52 hořkých balad věčného studenta Roberta Davida",
      "Nápisy na hroby",
      "Jan ve smutku",
      "Most",
      "Edison",
      "Praha s prsty deště",
      "Žena v množném čísle",
      "Štyrský a Toyen",
      "Křídla",
      "Akrobat",
      "Skleněný havelok",
      "Básně noci",
      "Básně na pohlednice",
      "Balady Manoně",
      "Absolutní hrobař",
      "Z domoviny",
      "Veliký orloj",
      "Sbohem a šáteček",
      "70 básní z podsvětí na rozloučenou se stínem Věčného studenta Roberta Davida",
      "Dobrodružství noci a vějíře",
      "Pantomima",
      "Blíženci",
      "Kůň a tanečnice",
      "Nedokončená",
      "Pět prstů",
      "Diabolo",
      "Menší růžová zahrada",
      "Švábi",
      "Chrpy a města",
      "Pět minut za městem",
      "Signál času",
      "Historický obraz",
      "100 sonetů zachránkyni věčného studenta Roberta Davida",
      "Stalin",
      "Matka naděje",
      "Zpáteční lístek",
      "Hra v kostky",
      "Zpěv míru",
    ],
    "Seifert, Jaroslav": [
      "Koncert na ostrově",
      "Vějíř Boženy Němcové",
      "Přilba hlíny",
      "Prsten Třeboňské madoně",
      "Poštovní holub",
      "Maminka",
      "Jaro, sbohem",
      "Na vlnách TSF",
      "Jablko s klína",
      "Ruka a plamen",
      "Halleyova kometa",
      "Světlem oděná",
      "Deštník z Piccadilly",
      "Zhasněte světla",
      "Ruka a plamen",
      "Slavík zpívá špatně",
      "Zpíváno do rotačky",
      "Město v slzách",
      "Samá láska",
      "Morový sloup",
      "Osm dní",
      "Podzim v Čechách 1937",
      "Ruce Venušiny",
      "Kamenný most",
      "Odlévání zvonů",
      "Přilba hlíny",
      "Jablko s klína",
      "Píseň o Viktorce",
      "Jaro, sbohem",
      "Halleyova kometa",
      "Býti básníkem",
      "Svatební cesta",
      "Chlapec a hvězdy",
    ],
    "Biebl, Konstantin": [
      "S lodí, jež dováží čaj a kávu",
      "Nebe, peklo, ráj",
      "Zloděj z Bagdadu",
      "Cesta k lidem",
      "Věrný hlas",
      "Bez obav",
      "Nebe, peklo, ráj",
      "Modré stíny",
      "Zlom",
      "Nový Ikaros",
      "Věrný hlas",
      "Zrcadlo noci",
      "Zlatými řetězy",
      "Zlom",
    ],
    "Holan, Vladimír": [
      "Blouznivý vějíř",
      "Na sotnách",
      "Dva světy",
      "Bolest",
      "Tobě",
      "Panychida",
      "Sen",
      "Záhřmotí",
      "Tři",
      "Rudoarmějci",
      "Bolest",
      "Září 1938",
      "Oblouk",
      "Dík Sovětskému svazu",
      "Asklépiovi kohouta",
      "Terezka Planetová",
      "Příběhy",
      "Na postupu",
      "Zpěv tříkrálový",
      "Noc s Hamletem",
      "Prostě",
      "Vanutí",
      "Chór",
      "Triumf smrti",
      "První testament",
      "Cesta mraku",
      "Oblouk",
      "Triumf smrti",
      "První básně",
      "Havraním brkem",
      "Mozartiana",
    ],
    "Bondy, Egon": [
      "Básnické spisy III.",
      "Básnické spisy I",
      "Básnické spisy II.",
    ],
    "Reynek, Bohuslav": [
      "Podzimní motýli",
      "Podzimní motýli; Sníh na zápraží; Mráz v okně",
      "Žízně",
      "Rty a zuby",
      "Odlet vlaštovek",
      "Pieta",
      "Smutek země",
      "Setba samot",
    ],
    "Diviš, Ivan": [
      "První hudba bratřím",
      "Balada z regálu",
    ],
    "Krchovský, J. H.": [
      "Já už chci domů",
      "Poslední list",
    ],
    "Hruška, Petr": [
      "Vždycky se ty dveře zavíraly",
      "Obývací nepokoje",
      "Nikde není řečeno",
      "Auta vjíždějí do lodí",
    ],
    "Správcová, Božena": [
      "Guláš z modrý krávy",
      "Východ",
      "Večeře",
      "Samomluvy",
      "Strašnice",
      "Požární kniha",
    ],
    "Stehlíková, Olga": [
      "Vykřičník jak stožár",
      "0 čem mluví Matka, když mlčí",
      "Týdny",
    ],
    "Rudčenková, Kateřina": [
      "Ludwig",
      "Není nutné, abyste mě navštěvoval",
      "Chůze po dunách",
    ],
    "Malý, Radek": [
      "Lunovis",
      "Vraní zpěvy",
      "Světloplaší",
      "Malá tma",
      "Větrní",
      "Všehomír",
      "Atlas bytostí",
    ],
    "Borkovec, Petr": [
      "Polní práce",
      "Milostné básně",
      "Prostírání do tichého",
      "Needle-book",
      "A. B. A. F.",
      "Mezi oknem, stolem a postelí",
      "Herbář k čemusi horšímu",
      "Poustevna, věštírna, loutkárna",
      "Ochoz",
    ],
    "Iljašenko, Marie": [
      "Osip míří na jih",
      "Sv. Outdoor",
    ],
    "Těsnohlídek, Jan": [
      "Rakovina",
      "Hranice a zdi",
      "Hlavně zachraň sebe",
      "Násilí bez předsudků",
      "Ještě je co ztratit",
    ],
    "Jirous, Ivan Martin": [
      "Úloža",
      "Okuje",
      "Rattus norvegicus",
      "Ubíječ labutí",
      "Rok krysy",
    ],
    "Wernisch, Ivan": [
      "Don Čičo má v klopě orchidej",
      "Z dalekých žofínů",
      "Růžovejch květů sladká vůně",
      "Pekařova noční nůše",
      "Na břehu",
      "Ó kdežpak",
      "Bez kufru se tak pěkně skáče po stromech neboli Nún",
      "Lunojasno, když kolovrátky",
      "Dřevěný dort",
      "Zeleně bliká Hilversum",
      "Ztroskotanec na břehu atlantském",
      "Frc",
      "S brokovnicí pod kabátem",
      "Don Čičo má v klopě orchidej",
      "Penthesilea",
      "Nikam",
      "Zlatomodrý konec stařičkého léta",
      "Proslýchá se",
      "Hlava na stole",
      "S brokovnicí pod kabátem",
    ],
    "Fischerová, Viola": [
      "Domek na vinici",
      "Matečná samota",
      "Odrostlá blízkost",
      "Jak pápěří",
      "Divoká dráha domovů",
      "Babí hodina",
      "Zádušní mše za Pavla Buksu",
      "Nyní",
      "Předkonec",
      "Písečné dítě",
    ],


      };

  // cache the selects
  var authorSelect = document.getElementById("author");
  var collectionSelect = document.getElementById("collection_style");

  function updateCollections() {
    // get the selected author
    var selectedAuthor = authorSelect.value;
    
    // get the list of collections for that author (or empty)
    var allowed = collectionsByAuthor[selectedAuthor] || [];

    // clear the current options
    while (collectionSelect.firstChild) {
      collectionSelect.removeChild(collectionSelect.firstChild);
    }

    // add a blank option first
    var blank = document.createElement("option");
    blank.value = "";
    blank.textContent = "";
    collectionSelect.appendChild(blank);

    // populate only allowed
    allowed.forEach(function(name) {
      var opt = document.createElement("option");
      opt.value = name;
      opt.textContent = name;
      collectionSelect.appendChild(opt);
    });
  }

  // attach change watcher
  authorSelect.addEventListener("change", updateCollections);

  // run initially to set correct collections at load
  updateCollections();

});
</script>

