<option>Mácha, Karel Hynek</option>
<option>Erben, Karel Jaromír</option>
<option>Neruda, Jan</option>
<option>Hálek, Vítězslav</option>
<option>Březina, Otokar</option>
<option>Karásek ze Lvovic, Jiří</option>
<option>Hlaváček, Karel</option>
<option>Gellner, František</option>
<option>Wolker, Jiří</option>
<option>Nezval, Vítězslav</option>
<option>Seifert, Jaroslav</option>
<option>Biebl, Konstantin</option>
<option>Holan, Vladimír</option>
<option>Bondy, Egon</option>
<option>Reynek, Bohuslav</option>
<option>Diviš, Ivan</option>
<option>Krchovský, J. H.</option>
<option>Hruška, Petr</option>
<option>Správcová, Božena</option>
<option>Stehlíková, Olga</option>
<option>Rudčenková, Kateřina</option>
<option>Malý, Radek</option>
<option>Borkovec, Petr</option>
<option>Iljašenko, Marie</option>
<option>Těsnohlídek, Jan</option>
<option>Jirous, Ivan Martin</option>
<option>Wernisch, Ivan</option>
<option>Fischerová, Viola</option>
<option>Hrabě, Václav</option>
