<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }}</title>
    {% elif verses %}
    <title>Bez názvu ({{ verses[0]['text'] }}...)</title>
    {% else %}
    <title>Bez názvu</title>
    {% endif %}
    <link rel="stylesheet" href="static/style_chat.css" />
    <link rel="stylesheet" href="static/show_poem_base.css" />
    <link rel="stylesheet" id="style" href="static/show_poem_rich.css" />
    <script>
        function set_style(style) {
            document.getElementById('style').href='static/show_poem_'+style+'.css';
        }
    </script>
</head>
<body>
    
    <div id="qrimg">
    <a href="static/qrcodes/{{ id }}.png"><img src="static/qrcodes/{{ id }}.png" alt="QR kód" title="QR kód"></a>
    <br> 
    <button onclick="navigator.clipboard.writeText('https://quest.ms.mff.cuni.cz/edupo-api/show?poemid={{ id }}');">Zkopírovat odkaz</button>
    </div>

    {% if title %}
    <h1>{{ title }}</h1>
    {% elif verses %}
    <h1>Bez názvu ({{ verses[0]['text'] }}...)</h1>
    {% else %}
    <h1>Bez názvu</h1>
    {% endif %}

    {% if author_name %}
    <h2>{{ author_name }}</h2>
    <p class="author">
    {% if author and author != author_name %}vlastním jménem {{ author }}, {% endif %}
    {%
    if born or died
    %}{%
    if born
    %}{{born}}{%
    else
    %}?{%
    endif
    %}-{%
    if died
    %}{{died}}{%
    else
    %}?{%
    endif
    %}{%
    endif
    %}{% for school in schools %}, {{ school }}{% endfor %}
    {% if wiki %}<a href="https://www.wikidata.org/wiki/{{ wiki }}">Wikidata</a>{% endif %}
    </p>
    {% endif %}
    
    {% if b_title %}
    <p class="book">
    sbírka {{ b_title }}{% if subtitle %}: {{ subtitle }}{% endif %}
    ({{ publisher }}) {{ place }}, {{ year }}
    </p>
    {% endif %}
    
    {% if id %}
    <p class="id">{{ id }}</p>
    {% endif %}

    {% if motives %}
    <p class="motivescaption">Automaticky určené motivy:</p>
    <pre class="motives">{{ motives }}</pre>
    {% endif %}

    <div>
        <button onclick="set_style('plain')">Bez anotace</button>
        <button onclick="set_style('rich')">S anotací</button>
        
        <!--<button disabled>Generovat novou báseň ve stylu této básně</button>-->
        
        {% if id and not imgfile %}
        <form method="post" action="genimage">
            <input type="hidden" name="poemid" value="{{ id }}">
            {% if title %}
            <input type="hidden" name="title" value="{{ title }}">
            {% endif %}
            <input type="submit" value="Generovat ilustrační obrázek k této básni"
            onclick="this.value='Generuji...'; this.disabled = true; this.form.submit();">
        </form>
        {% endif %}
        
        {% if id and not ttsfile %}
        <form method="post" action="gentts">
            <input type="hidden" name="poemid" value="{{ id }}">
            <input type="submit" value="Přečíst báseň pomocí automatické syntézy řeči"
            onclick="this.value='Generuji...'; this.disabled = true; this.form.submit();">
        </form>
        {% endif %}

    {% if not body %}
    <form method="post" action="analyze">
        <input type="hidden" name="poemid" value="{{ id }}">
        <input type="submit" value="Analyzovat"
        onclick="this.value='Analyzuji...'; this.disabled = true; this.form.submit();">
    </form>
    {% endif %}

    {% if id and not motives %}
    <form method="post" action="genmotives">
        <input type="hidden" name="poemid" value="{{ id }}">
        <input type="submit" value="Určit motivy"
        onclick="this.value='Generuji...'; this.disabled = true; this.form.submit();">
    </form>
    {% endif %}

    {% if not translations or not translations.sk %}
    <form method="post" action="translate">
        <input type="hidden" name="poemid" value="{{ id }}">
        <input type="hidden" name="language" value="sk">
        <input type="submit" value="Preložiť do slovenčiny"
        onclick="this.value='Generuji...'; this.disabled = true; this.form.submit();">
    </form>
    {% endif %}
    
    {% if not translations or not translations.uk %}
    <form method="post" action="translate">
        <input type="hidden" name="poemid" value="{{ id }}">
        <input type="hidden" name="language" value="uk">
        <input type="submit" value="Перекласти українською"
        onclick="this.value='Generuji...'; this.disabled = true; this.form.submit();">
    </form>
    {% endif %}
    
    </div>

    <hr style="clear: both">
    <div id="metreinfo">
        {% if 'T' in present_metres %}
        <p><b>trochej</b>: dvouslabičné metrum s přízvukem na první slabice</p>
        {% endif %}
        {% if 'J' in present_metres %}
        <p><b>jamb</b>: dvouslabičné metrum s přízvukem na druhé slabice</p>
        {% endif %}
        {% if 'D' in present_metres %}
        <p><b>daktyl</b>: trojslabičné metrum s přízvukem na první slabice</p>
        {% endif %}
        {% if 'A' in present_metres %}
        <p><b>amfibrach</b>: trojslabičné metrum s přízvukem na druhé slabice</p>
        {% endif %}
    </div>

    {% if ttsfile %}
    <audio autoplay controls>
        <source src="{{ ttsfile }}" type="audio/mpeg">
    </audio>
    {% endif %}

    {% if imgfile %}
    <a href="{{ imgfile }}"><img id="genimg" src="{{ imgfile }}" alt="{{ imgtitle }}" title="{{ imgtitle }}"></a>
    {% endif %}

    {% if body %}
    <div class="body">
        <table class="stanza" cellspacing="0" cellpadding="0">
            {% for verse in verses %}
            
            {% if verse.stanza and verse.stanza != verses[loop.index0-1].stanza  %}
            <tr class="stanzabreak"><td><br></td></tr>
            {% endif %}

            <tr class="verse verse{{ verse.rhymeclass }}">
                <td class="meter metre{{ verse.metre }}">{{ verse.metrum }}</td>
                    <td class="rhyme">{{
                        verse.rhymeletter
                        }}<sub class="rhymesubscript">{{
                            verse.rhymesubscript
                        }}</sub><sup> </sup></td>
                    {% if verse.syllables %}
                    <td class="versetext"
                        >{%
                        for syllable in verse.syllables
                        %}{%
                            if syllable.parts
                            %}<span class="syllable"
                                >{%
                                for part in syllable.parts
                                %}<span class="{%
                                    for class in part.classes
                                    %}{{
                                        class
                                    }} {%
                                    endfor
                                    %} {{ syllable.classes }}"
                                    >{{
                                        part.text
                                    }}</span
                                >{%
                                endfor
                            %}</span
                            >{%
                            endif
                            %}{%
                            if syllable.after
                            %}<span class="after"
                                    >{{
                                        syllable.after
                                    }}</span
                            >{%
                            endif
                        %}{%
                        endfor
                    %}</td>
                    {% else %}
                    <td class="versetextplain">{{ verse.text }}</td>
                    {% endif %}
                    <td class="stressinfo">{{ verse.rythm }} {{ verse.pattern }}</td>
                    <td class="meterinfo">{{ verse.metrum }}-{{ verse.foot}}-{{ verse.clause }}</td>
                    <td class="otherinfo">{% if verse.narrators_gender %}Rod lyrického subjektu: {{ verse.narrators_gender }}{% endif %}</td>
                    <td class="regen">
                        <form method="post" action="regen">
                        <input type="hidden" name="poemid" value="{{ id }}">
                        <input type="hidden" name="badline" value="{{ verse.text }}">
                        <input type="submit" value="🔁" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
        {% else %}
        <p class="plaintext">{{ plaintext }}</p>
        {% endif %}
        
        {% if id %}
        <hr>
        <form method="post" action="processopenai">
            <select name="modelspec">
                <option value="gpt-4o-mini">GPT 4o mini</option>
                <option value="gpt-5-mini">GPT 5 mini</option>
                <option value="gpt-4o">GPT 4o</option>
                <option value="gpt-4.1">GPT 4.1</option>
                <option value="gpt-5">GPT 5</option>
            </select>
            <input type="text" size="100" name="openaiprompt"
            placeholder="Zadej prompt pro ChatGPT, např.: přelož text následující básně do slovenštiny">
            (za zadaný prompt se automaticky vloží text básně)
            <input type="hidden" name="poemid" value="{{ id }}">
            <br>
            <input type="submit" value="Zpracovat text básně pomocí ChatGPT"
            onclick="this.value='Generuji...'; this.disabled = true; this.form.submit();">
        </form>
        {% endif %}

        {% if openai %}
        {% for item in openai %}
        <hr>
        <p><kbd>{{item.model}}</kbd> <i>{{ item.prompt }}</i></p>
        <pre class="raw">{{ item.output }}</pre>
        {% endfor %}
        {% endif %}
        
        {% if translations and translations.sk %}
        <hr>
        <p>[Automatický preklad do slovenčiny]</p>
        <p style="white-space: pre-line">{{ translations.sk }}</p>
        {% endif %}
        
        {% if translations and translations.uk %}
        <hr>
        <p>[Автоматичний переклад українською]</p>
        <p style="white-space: pre-line">{{ translations.uk }}</p>
        {% endif %}
        
        {% if geninput %}
        <hr>
        <p>Input parameters:</p>
        <pre class="raw">{{ geninput }}</pre>
        {% endif %}
        
        {% if rawtext %}
        <hr>
        <p>Raw generated output:</p>
        <pre class="raw">{{ rawtext }}</pre>
        {% endif %}
        
        {% if measures %}
        <hr>
        <p>Automaticky změřená skóre:</p>
        <ul>
            <li>Podíl rýmujících se veršů: {{'%0.2f' % ( measures.rhyming * 100) | float }}%</li>
            <li>Podíl slok se stejným rýmovým schématem: {{ '%0.2f' % (measures.rhyming_consistency * 100) | float }}%</li>
            <li>Konzistence metra: {{ '%0.2f' % (measures.metre_consistency * 100) | float }}%</li>
            <li>Podíl neznámých slov: {{ '%0.2f' % (measures.unknown_words * 100) | float  }}%
                (menší je lepší)</li>
            <li>Entropie počtů slabik: {{ '%0.2f' % (measures.syllable_count_entropy) | float }}
                (menší je lepší)</li>
            {% if measures.chatgpt_meaning is defined %}
            <li>Smysluplnost:
                {{ measures.chatgpt_meaning * 100 }}%
            </li>
            {% endif %}
            {% if geninput and geninput.rhyme_scheme %}
            <li>Shoda s uživatelem zvoleným rýmovým schématem ({{ geninput.rhyme_scheme }}):
                {{ '%0.2f' % (measures.rhyme_scheme_accuracy * 100) | float }}%
            </li>
            {% endif %}
            {% if geninput and geninput.metre %}
            <li>Shoda s uživatelem zvoleným metrem ({{ geninput.metre }}):
                {{ '%0.2f' % (measures.metre_accuracy * 100) | float }}%
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>

   <hr>
   <p><a href="index">Zpět na hlavní stránku</a></p>

</body>
</html>
