<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>EduPo</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>

<h1>EduPo</h1>

<h2>Zobrazit autora</h2>

<ul>
{% for row in rows %}
    <li>
        <a href="showauthor?author={{ row.author }}"
            >{{ row.author }}
            (počet básní: {{ row.count }})</a>
        [<a href="typfeatures?author={{ row.author }}"
            >analyzovat typické rysy</a>]
    </li>
{% endfor %}
</ul>

</body>
</html>

